.traveler-guide-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #9858D4, #7f41ff);
  border-radius: 20px;
  padding: 40px;
  color: white;
  max-width: 1240px;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
}

.text-content {
  z-index: 1;
  max-width: 600px;
}

.text-content h1 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 10px;
  line-height: 1.2;
}

.text-content h1 span {
  font-weight: 800;
}

.text-content1 p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  color: white;
}

.image-content {
  position: absolute;
  right: 30px;
  top: 30px;
  opacity: 0.15;
}

.image-content img {
  width: 50px;
  height: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .traveler-guide-container {
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
  }

  .text-content h1 {
    font-size: 28px;
  }

  .image-content {
    right: 10px;
    top: 10px;
  }
}
